.App {
  width: 390px; /* Cambia esta medida para ajustar el tamaño del cuadrado */
  height: 390px; /* Cambia esta medida para ajustar el tamaño del cuadrado */
  margin-left: 600px;
  background-color: black;
  background-image: url('./assets/DeviantArt-logo.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover;
  background-position: top left;
}






